a { text-decoration:none }
.container { width:262px; margin:0 auto; padding-top:200px; }

/* #bar { width:100%; height:35px; padding:15px 0; background:url(../images/bar.png) repeat-x; } */
#bar { width:100%; height:auto;}
#container { width:150px; margin:0 auto; }

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    /*background: url(../images/buttonbg.png) repeat-x; */
    border-radius:0 0 10px 3px;
    -moz-border-radius:0 0 10px 3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}
#navigationBottomRight{width:150px!important;}
/* Login Button Text */
#loginButton span {
    color:#FFFFFF; 
    font-size:12px; 
    /*text-shadow:1px 1px #fff; */
    padding:6px 36px 4px 10px;
    background:url(../images/loginArrow.png) no-repeat 100px 6px;
    display:block;
	margin-top:1px;
}

#loginButton:hover {
  /*  background:url(../images/buttonbgHover.png) repeat-x;*/
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
	border-bottom:none;
    border-radius:0;
}

#loginButton.active span {
	 
    background-position:100px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
 /*   background: none repeat scroll 0 0 #D2E0EA;*/
    bottom: -1px;
    height: 1px;
    position: absolute;
    width: 100%;
}
/* Login Form */
#loginForm {
    width:248px; 
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-5px;
    background:#929293;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#FFFFFF;
    font-size:12px;
}

input:focus {
    outline:none;
}

