@charset "utf-8";
/* CSS Document */

.menudiv-icon{
	display:none;
}
.desktopknone-mobiletext{
	 color: #ffffff;
    float: left;
    font-size: 10px;
    padding-top: 3px;
    text-transform: uppercase;
}
.desktopknone-mobiletext sub{
	font-size: 18px;
    font-weight: bold;
    margin-left: 6px;
    vertical-align: top;
	
}
.desktopknone-mobiletext sup{
	vertical-align:top;
}
.singupcheckboxouter{
	width:100%;
	text-align:center;
}
.desktop-show{
	display:block;
}
.responsive-show{
	display:none;
}
.herobgnone{
	background:none !important;
	position:relative;
	height:inherit !important;
}
.boxsubtopimg{
	width: 253px; float: left;
}
.boxSub2textouter{
float: left; width: 253px; padding-top: 10px;
}
.heroheadrnone{
	display:none;
}
.contanctus-namebadesouter{
	width: 739px; text-align: center; vertical-align:top;
}
.contactusaddress-imgouter{
	width: 739px;
}
.contactusaddress-outer{
	width: 315px; float: left; clear: both; margin-top: 35px;
}
.contactusaddress-first{
	width: 315px; float: left; clear: both;
	margin-top:20px;
}
.contactusaddress-first:first-child{
	margin-top:0px;
}
.contactusmapouter{
	width: 420px; float: right; margin-top: 35px; text-align: right;
}
.contactusmapbuttomimg{
	clear: both; text-align: center; width: 739px;
}
.b-all-rightdiv{
	width:570px;
	float:right;
}
.contactaddress-right{
	float: right; width: 195px;
}
.headergraybuttonouter{
	float: left;margin-left: 10px;
	padding-top:0px;
}
.printed-name-badges-content{
	width: 960px; padding: 5px 0 20px 0; background-color: #fff4d6; text-align: center; float: left;
}
.printed-name-badges-topimg{
	width: 959px;
	height:246px;
}
.printed-name-badges-left{
	float: left; width: 480px;
}
.printed-name-badges-right{
	float: right; width: 480px;
}
.printed-name-badges-table{
	width:960px;
}
.printed-name-badges-fasterimg{
	width:904px;
	height:128px;
	
}
.printed-name-badges-bottomdiv{
	width: 960px; padding: 5px 0 20px 0; background-color: #fff4d6; text-align: center; float: left;
}
.printed-name-badges-table-outer{
	width:960px;
}
.pin-cahtwith-text{
	font-weight: bold; font-size: 20px;
}
#loginButton.active span{
	background-position: 100px -77px;
}
.pinclikhear-button-outer{
	padding:0px;margin:0px;width:auto;
}
.reusable-name-topimg{
	width:960px;
	height:359px;
}
.photoid-badges-topimg{
	width:960px;
	height:237px;
}
.photoid-attachmentimg{
	width:908px;
	height:176px;
}
.custom-lanyards-content{
	width: 960px; padding: 5px 0 0px 0; background-color: #fff4d6; text-align: center; float: left;
}
.order-table-outer{
	width:454px;
	float:left;
}
#navigationBottomRight {
    float: right;
    width: 320px;
}
.logrighttext{
	color: #e4e4e4;
    font-family: arial;
    font-size: 13px;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}
.header-activated-button{
	position:absolute;
	top:90px;
	right:0;
}
#heroButton{
	margin-top:0px;
}
.tesimonials-leftbgouter{
	width:100%;
	
}
.customerpanel2-fullcolorouterdiv{
	text-align: left; line-height: 30px; margin-top:5px; margin-bottom: 5px; padding-left: 20px;
}
.customerpanel2-radiooutre{
	float: left; padding-left: 25px;
}
.customerpanel5-boxusb{
	width: 350px; margin: auto; border: none;
}
.boxSub,.boxHeader{
	float:left;
}
.logo-upload-text{
	margin:20px 0px;
}
.order-radio-righttext{
	width:90%;
	float:left;
	
}
.order-radio2{
	line-height: 20px;padding-top:5px;height:24px;
}
.qq-upload-button{
	position:absolute !important;
	left:inherit !important ;
	right:2px !important;
}
.payment-left-panel{
	width: 500px; float: left;
}
.payment-left-panel{
	width: 500px; float: left;
}
.payment-left-first{
	width:100%;
	float:left;
}
.pricing-table-outer{
	width:100%;
	float:left;
}
.purchase-border{
	clear: both; float: left; width: 960px; margin-top: 25px; padding-bottom: 25px; border-top: solid 1px #CCC;
}
.purchase-table-outer{
	width: 394px; float: right; text-align: center;
	overflow:auto;
	border:1px solid #ddd;
}
.purcahse-yourorder-first{
	float: left; width: 260px; 
}
.purcahse-yourorder-second{
	float: left; width: 230px;
}
.purcahse-yourorder-third{
	float: left; width: 465px; 
}
.purcahse-yourorder-fourth{
	width: 260px; float: left;
}
.popBoxSmall{
	padding-left: 10px;
}
.purcahse-yourorder-five{
	float:left;
}
.signup2-coverdiv{
	 width: 391px !important; padding-top: 30px;
}
.signup2-image-left{
	float: left; width: 140px;
}
.signup2-image-right{
	float: right; width: 210px;
}
.signup2-rightbox{
	width:100%;
	float:left;
	min-height:173px;
	background:#f3f3f3;
	border-radius:10px;
}
.slider3 dt{
	width:500px;
	background-size:100%;
}
.slider3,.slider3 span{
	width:500px;
	float:left;
}
.wizard-leftphotodiv{
	float: left; width: 165px; margin-top: 0;
}
.wizard-rightlogodiv{
	float: right; width: 165px; margin-top: 0;
}
.slider3 dd{
	overflow:inherit;
}
.wizard-inputouter{
	height: 30px; margin-left: 20px; line-height: 30px;text-align:left;
}
.wizard-textboxouter{
	float: left; width: 200px;
}
.wizard-smalliconouter{
	float: right; width: 125px;
}
.wizard-tableouter{
	clear: both; margin-top: 0px; height: 75px; text-align: center;
}
.wizard2-topdiv{
	width: 840px; float: left; padding: 15px 20px 15px 100px; background:url(../images/attention.png) left center no-repeat; border-top: solid 1px #c1c1c1; border-bottom: solid 1px #c1c1c1; margin-bottom: 15px;
}
#imageshow{
	height:inherit !important;
}
.wizardbalnk-left{
	float: left; width: 200px; padding-left: 15px;
}
.wizardbalnk-right{
	float: right; width: 200px;
}
.wizardbalnk-left .popBoxSmall,.wizardbalnk-right .popBoxSmall{
	padding-left:0px;
}
.wizard-next-left{
	width: 540px; float: left;
}
.wizard-next-right{
	float: right; width: 355px; padding-top: 30px;
}
.wizard-next-bottom{
	width: 880px; padding-left: 70px; padding-top: 35px; clear: both;
}
.wizardfb-likebox{
	width:350px;
}
.wizard-nexttoptext{
	text-align: center; font-size: 24px;
}
.add-names-justsimple-text{
	float: left; width: 200px;padding-top: 15px;
}
.addnames-leftimg-div{
	float: left;width: 350px;padding-left: 100px;
}
.addnames-rightimg-div{
	float: right;width: 480px;
}
.addnames-leftimg-textdiv{
	float: left;width: 150px; text-align:center;margin-top: 25px;
}
.addnames-leftimg-imgouter{
	float: right;width: 200px;
}
.addnames-rightimg-imgouter{
	float: right;width: 320px;
}
.add-names-smallinputouter{
	float: left; width: 170px;border-bottom: 1px dashed #CCCCCC;height:30px;
}
.add-names-prepay-inputouter{
	float: right; width: 280px;border-bottom: 1px dashed #CCCCCC;height:30px;
}
.add-names-total-inputouter{
	float: left; width: 450px;border-bottom: 1px dashed #CCC;height: 30px;
}
.add-names-totaltext{
	width: 450px; text-align: center;border-bottom: 1px dashed #CCC;
}
.add-names-total-right{
	float: right;width: 340px;
}
.add-names-smallinput-label{
	padding-left: 5px;width: 100px;float: left;border-right: 1px solid #CCC;height: 100%;background-color: #F5F6E7;
}
.add-names-smallinput-right{
	float: right;margin-top: 5px;
}
.add-names-prepay-label{
	padding-left: 5px;width: 150px;float: left;border-left: 1px solid #CCC;height: 100%;background-color: #F5F6E7;border-right: 1px solid #CCC;
}
.add-names-prepay-right{
	float: left;padding-left: 5px;
}
.checkout-leftdiv{
	width: 500px; float: left;
}
.checkout-rightdiv{
	width: 450px; float: right;
}
.checkout-yourorder-left{
	float: left; width: 200px;border-bottom: 1px dashed #CCC;
}
.checkout-yourorder-right{
	float: right; width: 248px;border-bottom: 1px dashed #CCC;border-left: 1px solid #CCC;
}
.checkout-yourorder-left-label{
	width: 150px;float: left;
}
.checkout-yourorder-left-input{
	width: 50px;float: right;text-align: center;padding-top: 5px;
}
.checkout-yourorder-right-label{
	width: 160px;float: left;
}
.checkout-yourorder-right-input{
	width: 30px;float: left; text-align: center;padding-top: 5px;
}
.checkout-totlaouter{
	float: left; width: 450px; border-bottom: 1px dashed #CCC;
}
.checkout-totlaouter-left{
	width: 120px;float: left;
}
.checkout-totlaouter-right{
	width: 200px;float:left;padding-top: 5px;
}
.checkout-buttomdiv{
	width: 450px; text-align: center;
}
.wizardnew-left-label{
	/*height: 65px;padding-left: 0px !important;width: 135px !important*/
}
.wizardnew-topleft{
	width:50%;
	float:left;
}
.wizardnew-topleft-label1{
	border-left:none;
}
.wizardnew-topleft-label2{
	border-left:none;
	border-bottom:none;
}
.wizardnew-logoouter{
	float: left; width: 160px; margin-top: 0;
}
.wizardnew-logoouter-right{
	float: right; width: 160px; margin-top: 0;
}
.wizardnewbades-style{
	float: left; width: 350px; margin-top: 0;
}
.wizardnew-addtext1{
	height:30px;
}
.wizardnew-addtextbox{
	width: 190px;float:left;padding-top:3px;
}
.wizardnew-addbutton{
	width: 140px;float:left;padding-top:3px;
}
.wizardnew-selectdiv{
	float:left;width: 150px;padding-top:0px;margin-left: 15px;
}
.wizardnew-numberselect{
	width: 50px;float:left;padding-top:0px;
}
.wizardnew-colordiv{
	padding-right: 160px;width: 110px;float: right;padding-top:3px;
}
.wizardnew-namethis-label{
	width:200px;
}
.wizard-butoomform{
	margin-top: 15px; clear: both; float: left;padding-left: 45px; font-family: arial;
}
.wizardnew-namethis-input{
	width:278px;
}
.wizard-droppableouter{
	padding-left: 200px;
}
@media (min-width : 1024px) and (max-width : 1200px){
}
@media  (min-width : 768px) and (max-width : 1023px){
*{
	box-sizing:border-box;
}
#wrapper{
	padding:0px 15px;
	width:750px;
}
#footer{
	padding-left:0px;
	padding-right:0px;
}
#header,#topBar,#headerBar,#topBar ul{
	width:100%;
}
#subFooter,#subFooterMain,#footer #subFooter #footerMenu,#footerCopyright,#subFooterMain2,#subFooterMain3{
	width:100%;
}
#subFooterLeft{
	width:270px;
	height:inherit;
}	
#subFooterMiddle{
	width:170px;
	border:none;
}
#subFooterRight{
	width:240px;
	border-left: 1px solid #e4e4e4;
	min-height:148px;
}
#subFooterLeft h5{
	font-size:17px;
}
#subFooterMain2,#subFooterMain3{
	background-image:none;
}
#subFooterMain{
	background-image:none;
	background:#fff;
	border:2px solid #ddd;
	border-radius:10px;
}
#content,#mainContentFull{
	width:100%;
}
#signUpLeft{
	width:48%;
}
#signUpRight{
	width:50% !important;
}
#signUpRight img{
	max-width:100%;
}
.signUpFieldRight{
	width:217px !important;
	padding-right:10px;
}
#navigationWrapper{
	width:68%;
	border-radius: 14px;
}
#navigationTop{
	width:100%;
}
#navigationBottom{
	width:100%;
}
#navigationTop ul li a{
	padding:0px 10px;
}
#navigationBottomLeft{
	width:50%;
	padding-left:13px;
}
#container{
	width:auto;
}
#copyrightRight{
	width:35%;
}
#navigationBottomRight{
	width: 50% !important;
}
#subFooterLeft form #signup_email{
	width:100%;
	background-image:none;
	border:2px solid #ddd;
	border-radius:12px;
}
#subFooterLeft form #subscribe_button{
	margin-left:0px;
}
.signupFieldInput{
	width:100%;
}
.signupFieldInput{
	height:20px;
	width:100% !important;
	border-radius:0px;
	border:1px solid #ddd;
}
.signUpFieldRight select{
	width:100%;
	border-radius:0px;
	border:1px solid #ddd;
}
#subFooter{
	width:750px;
	padding:0px 15px;
}
#hero{
	width:100%;
}
#hero img{
	max-width:100%;
}

#mainContent{
	width:86%;
}
.box-products{
	width:640px;
}
.orderBox{
	width:302px;
	margin-right:13px !important; 
}
.boxSub{
	height:inherit !important;
}
.boxSub img {
	max-width:100%;
}
.testimonials ul{
	width:100%;
}
.testimonials ul li{
	width:49%;
	height:inherit;
	background-image:none;
	border-radius:10px;
	border:2px solid #ddd;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f9f9+40,f9f9f9+48,f1eff0+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 40%, rgba(249,249,249,1) 48%, rgba(241,239,240,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 40%,rgba(249,249,249,1) 48%,rgba(241,239,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 40%,rgba(249,249,249,1) 48%,rgba(241,239,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1eff0',GradientType=0 ); /* IE6-9 */

}
.slider, #slider, .slider dt, .slider span{
	width:100%;
}
.slider dt{
	background-size:100%;
}
.orderBox:nth-child(even){
	margin-right:0px;
}
.testimonials ul li:nth-child(even){
	margin-right:0px;
}
.subright{
	width:520px;
	padding-right:0px;
}
.subright img{
	max-width:100%;
	height:inherit;
}
.productsContainer-right{
	width:280px;
}
h2{
	font-size:20px;
}
.contanctus-namebadesouter,.contactusaddress-imgouter{
	width:100%;
}
.contactusaddress-outer,.contactusmapouter{
	width:45%;
}
.contactusmapbuttomimg{
	width:100%;
}
.contactusmapouter{
	text-align:center;
}
.boxsubtopimg{
	width:100%;
	text-align:center;
}
.productsContainer-right p,ul.top-list li{
	text-align:justify;
}
.subright p,.what-bestme p{
	text-align:justify;
}
.printed-name-badges-topimg,.printed-name-badges-fasterimg,.reusable-name-topimg,.photoid-badges-topimg,.photoid-attachmentimg{
	max-width:100%;
	height:inherit;
}
.printed-name-badges-content,.custom-lanyards-content{
	width:100%;
}
.printed-name-badges-left,.printed-name-badges-right{
	width:50%;
}
.printed-name-badges-table-outer{
	width:100%;
	overflow:auto;
	border:1px solid #ddd;
	margin:20px 0px;
}
.printed-name-badges-bottomdiv{
	width:100%;
}
.printend-badges-maindiv p{
	text-align:justify;
}
.printed-name-badges-left p,.printed-name-badges-right p{
	text-align:center;
}
.pin-cahtwith-text{
	text-align:center !important;
	min-height:62px; 
}
.custom-lanyards-main img{
	max-width:100%;
	height:inherit;
}
.reusable-topboxdiv p{
	text-align:center !important;
}
#logoBox{
	width:100% !important;
}
#addNamesLeft{
	width:48%;
}
#addNamesRight{
	
	width:48%;
}
.order-table-outer{
	 border: 1px solid #dddddd;
    overflow: auto;
    width: 100%;
}
.headergraybuttonouter{
	display:none;
}
.logrighttext{
	color: #e4e4e4;
    font-family: arial;
    font-size: 13px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
#testimonialsContainer{
	width:275px;
}
.b-all-rightdiv{
	width:420px;
	
}
#testimonials{
	width:100%;
}
#testimonialsContainer2{
	width:100%;
	padding:20px;
	background-image:none;
}
#testimonialsTop,.testimonialsMain{
	width:100%;
}
.testQuote1{
	width:100%;
}
.testQuote2{
	width:100%;
}
.testimonialsMain{
	padding-left:10px;
	padding-right:10px;
	background-image:none;
	
}
#testimonialsTop{
	background-image:none;
	border-radius:10px 10px 0px 0px;
	
}
#testimonialsBottom{
	background-image:none;
	border-radius:0px 0px 10px 10px;
	
	width:100%;
}
#clients{
	width:100%;
	text-align:center;
}
#clients img{
	max-width:100%;
	height:inherit
}
.testP{
	text-align:justify
}
.tesimonials-leftbgouter{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7aa0bd+0,7aa0bd+35,7aa0bd+45,6c91ad+100 */
background: rgb(122,160,189); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(122,160,189,1) 0%, rgba(122,160,189,1) 35%, rgba(122,160,189,1) 45%, rgba(108,145,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,160,189,1) 0%,rgba(122,160,189,1) 35%,rgba(122,160,189,1) 45%,rgba(108,145,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,160,189,1) 0%,rgba(122,160,189,1) 35%,rgba(122,160,189,1) 45%,rgba(108,145,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aa0bd', endColorstr='#6c91ad',GradientType=0 ); /* IE6-9 */
  border-radius:10px ;
  margin-top:10px;
}
#testimonialsContainer{
	 border-radius:10px ;
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#497da5+0,497da5+41,497da5+56,19496e+100 */
background: rgb(73,125,165); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(73,125,165,1) 0%, rgba(73,125,165,1) 41%, rgba(73,125,165,1) 56%, rgba(25,73,110,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(73,125,165,1) 0%,rgba(73,125,165,1) 41%,rgba(73,125,165,1) 56%,rgba(25,73,110,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(73,125,165,1) 0%,rgba(73,125,165,1) 41%,rgba(73,125,165,1) 56%,rgba(25,73,110,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#497da5', endColorstr='#19496e',GradientType=0 ); /* IE6-9 */


}
#testimonialsContainer h3{
	text-align:center;
}
.b-all-rightdiv p{
	text-align:justify;
}
.header-activated-button{
	top:62px;
}
.signUpFieldRight{
	height:inherit !important;
}
.customerpanel2-fullcolorouterdiv{
	padding-left:10px ;
	padding-right:10px;
	line-height:22px;
	
}
.customerpanel2-fullcolorouterdiv h4{
	font-size:10px !important;
 }
.coustmpanel2-rightdiv input{
	width:79% !important;
}
.signUpFieldLeft{
	width:125px !important;
}
.customerpanel2-name-left{
	width:48% !important;
	font-size:9px;
}
.customerpanel2-radiooutre {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
.customerpanel2-radiooutre img{
	max-width:100%;
	height:inherit;
}
.customerpanel5-boxusb{
	width:100%;
}
.customerpanel5-boxusb #imageshow{
	width:100% !important;
}
.customerpanel2-name-right{
	width:85px !important;
}
.customerpanel2-name-right > table {
    display: inline;
}
#mainContentFull .logobox-responsive{
	width:48% !important;
}
.logo-input{
	border:none;
}
.logobox-responsive .signUpFieldRight{
	height:30px !important;
}
.magnetice-content p{
	text-align:justify;
}
.order2-designlabel,.order2-designlabel .signUpFieldLeft{
	height:80px !important;
}
.order2-designlabel2,.order2-designlabel2 .signUpFieldLeft{
	height:50px !important;
}
.order-radio-righttext{
	width:88%;
}
.order-complete-engraved-browse-outer{
	padding-right:0px;
}
.res-what-this-text{
	width:100%;
	padding-left:7px;
	float:left;
}
.signUpFieldRight textarea{
	width:100% !important;
}
.order-engraved-label-height{
	height:60px;
}
.order-engraved-label-shipping{
	height:100px !important;
}
.order-engraved-orders-text{
	line-height:16px;
	float:left;
	padding-left:7px;
}

.payment-left-panel{
	width:48%;
}
.payment-left-first{
	width:100% !important;
}
.pricing-table-outer{
	width:100%;
	float:left;
	overflow:auto;
	border:1px solid #ddd;
	margin-bottom:15px;
}
.purchase-table-outer{
	width:49%;

}
.purchase-border{
	width:100%;
}
.purcahse-yourorder-third,.purcahse-yourorder-first,.purcahse-yourorder-second{
	width:100%;
}
.purcahse-yourorder-fourth{
	width:50%;
}
.signup2-image-right{
	width:200px;
}
.slider3, .slider3 span,.slider3 dt{
	width:345px;
}
#mainContentFull .wizard-leftbox{
	width:345px !important;
}
.wizard-leftphotodiv,.wizard-rightlogodiv{
  width:100%;
}
.wizardText{
	width:100%;
}
.wizard-smalliconouter{
	width:100px;
}
.wizard-textboxouter{
	width:88px;
}
.wizard-tableouter{
	height:inherit;
}
.wizardresponsive-logoheight{
	height:232px !important;
}
.wizardresponsive-addtext1{
	height:200px !important;
}
.wizard2-topdiv{
	width:100%;
}
.wizardbalnk-left{
	float: left; width: 100%; padding-left: 15px;
}
.wizardbalnk-right{
	float: right; width:100%;padding-left: 15px;
	padding-top:20px;
}
.wizardbalnk-right p,.wizardbalnk-left p{
	margin:0px;
}
.wizard-next-left,.wizard-next-right{
	width:50%;
}
.wizard-next-right{
	text-align:center;
}
.wizard-next-bottom{
	width:100%;
	padding-left:0px;
}
.wizard-next-left p,.wizard-next-left li{
	text-align:justify;
}
.wizardfb-likebox{
	width:100%;
}
.wizard-next-bottom .orderBox{
	margin-right: 3px !important;
}
#imageshow img{
	max-width: 100%;
	height:inherit;
	width:auto;
}
.wizard2-topdiv{
	text-align:justify;
}
.add-names-justsimple-text{
	width:100%;
	text-align:center;
}
.add-names-justsimple-text h3{
	display:inline-block;
	float:none !important;
}
.step{
	width:242px;
	height:51px;
}
.addnames-leftimg-div{
	width:48%;
	padding-left:0px;
}
.addnames-rightimg-div{
 width:48%;
}
.addnames-rightimg-imgouter{
	width:190px;
}
.addnames-leftimg-imgouter{
	width:180px;
}
.add-names-text-labelheight{
	height:200px !important;
}
.hotspot{
	
	float:left;
}
.add-name-add-labelheight{
	height:66px !important;
}
.add-names-smallinputouter,.add-names-prepay-inputouter,.add-names-total-inputouter,.add-names-totaltext{
	width:100%;
}
.add-names-smallinput-label{
	width:150px;
}
.add-names-smallinput-right{
	float:left;
	padding:0px 10px;
}
.add-names-prepay-right,.add-names-total-right{
	width:55%;
}
.add-names-prepay-right .signupFieldInput{
	width:70% !important;
}
.add-names-prepay-right .hotspot{
	float:none;
}
.add-names-smallinputouter{
	height:31px;
}
.add-names-total-right > div ,.add-names-total-right .popBoxSmall{
	padding-left:0px !important;
}
.add-names-step-outer{
	margin:0 auto;
	width:685px;
}
.checkout-rightdiv,.checkout-leftdiv{
	width:48%;
}
.checkout-leftdiv #signUpLeft{
	width:100%;
}
.checkout-rightdiv #wizardRight{
	width:100% !important;
}
.checkout-yourorder-left,.checkout-yourorder-right{
	width:100%;
}
.checkout-yourorder-right{
	border-left:none;
}
.checkout-totlaouter,.checkout-buttomdiv{
	width:100%;
}
.checkout-totlaouter-left,.checkout-yourorder-left-label,.checkout-yourorder-right-label{
	width:125px;
}
.checkout-yourorder-left-input,.checkout-yourorder-right-input{
	float:left;
	width:60%;
}
#link_edit{
	width:100% !important;
	padding-top:20px !important;
	text-align:center;
}
.wizardnew-addtextbox{
	width:140px;
	
}
.wizardnew-addtextbox input{
	width:85% !important;
}
.wizardnew-addbutton{
	width:120px;
}
.wizardnew-colordiv{
	padding-right:0px;
}
.wizard-butoomform{
	padding-left:0px;
}
.wizard-butoomform .slider3,.wizard-butoomform .slider3 span,.wizard-butoomform .slider3 dt{
	width: 420px;
}
.wizardnew-namethis-label .hotspot{
	float:none;
}
.wizardnew-namethis-label{
	width:200px !important;
}
.wizardnew-responsive-logoouter{
	width:233px !important;
}
.wizardnew-logoouter,.wizardnew-logoouter-right{
	width:100%;
	float:left;
}
.wizard-droppableouter{
	margin:0 auto;
	width:580px;
	padding-left:0px;
}
.winzardnew-adddome{
	width:160px !important;
}
.winzardnew-adddome .hotspot{
	float:none;
}
.winzardnew-yesnoradioourer{
	width:210px !important;
}
.wizardnew-topleft-label2 .wizardnew-left-label{
	height:70px;
}
}
@media only screen and (max-width : 767px) {
*{
	box-sizing:border-box;
}	
#wrapper{
	padding:0px 15px;
}	
#footer{
	padding-left:15px;
	padding-right:15px;
}
#wrapper,#header,#topBar,#headerBar,#topBar ul{
	width:100%;
}
#headerBarLeft {
    float: left;
    height: 67px;
    text-align: center;
    width: 100%;
	margin:10px 0px;
}
#navigationWrapper,#navigationTop,#navigationBottom{
	width:100%;
}	
#navigationBottomLeft{
	width:50%;
	padding:6px 0px 0px 10px;
	text-align:left;
}
#content,#mainContentFull,#signUpLeft,#signUpRight,.signUpFieldLeft,.signUpFieldRight{
	width:100% !important;
}
#signUpRight img{
	max-width:100%;
	margin-top:0px !important;
}
#subFooter,#subFooterMain,#subFooterMain2,#subFooterMain3,#subFooterLeft,#subFooterMiddle,#subFooterRight{
	width:100%;
	height:inherit;
	padding-right:0px;
	border-right:none;
}
#footer #subFooter #footerMenu{
	width:100%;
}
#footerCopyright{
	width:100%;
}
#copyrightLeft{
	width:100%;
	text-align:center;
}
#copyrightRight{
	width:100%;
	text-align:center;
}
#topBar ul li{
	float:none;
	display:inline-block;
}
#topBar{
	text-align:center;
}
#headerBar,#navigationWrapper,#navigationTop,#navigationBottom{
	height:inherit
}
#navigationTop ul li a{
	background:none;
}
#navigationTop ul li{
	width:100%;
}
.menudiv-icon{
	 background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    float: right;
    margin: 10px;
	cursor:pointer;
    padding: 5px;
}
#navigationWrapper{
	background-image:none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#487ca4+0,44779f+36,44779f+41,39688e+100 */
background: rgb(72,124,164); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(72,124,164,1) 0%, rgba(68,119,159,1) 36%, rgba(68,119,159,1) 41%, rgba(57,104,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(72,124,164,1) 0%,rgba(68,119,159,1) 36%,rgba(68,119,159,1) 41%,rgba(57,104,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(72,124,164,1) 0%,rgba(68,119,159,1) 36%,rgba(68,119,159,1) 41%,rgba(57,104,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#487ca4', endColorstr='#39688e',GradientType=0 ); /* IE6-9 */

	border-radius:10px;
}
#navigationTop{
	border-top:1px solid #fff;
	display:none;
}
.icon-bar {
    background: #808080 none repeat scroll 0 0;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 22px;
}
.res-hide{
	display:none;
}
.desktopknone-mobiletext{
	display:inline-block;
	color:#fff;
	text-transform: uppercase;
	font-size:10px;
	padding-top:1px;
}
.desktopknone-mobiletext sub{
	font-size: 15px;
    font-weight: bold;
    margin-left: 6px;
    vertical-align: top;
	
}
#loginButton span{
	padding-right:25px;
}
#navigationBottomRight {
    width: 50% !important;
}

#subFooterMain{
	background-image:none;
	background:#fff;
	border-radius:10px;
	border:2px solid #ddd;
}
#subFooterMain2,#subFooterMain3{
	background-image:none;
}
#subFooterMain3{
	padding:15px;
}
#subFooterLeft form #signup_email{
	width:100%;
	background-image:none;
	border:2px solid #ddd;
	border-radius:12px;
}
#subFooterLeft{
	text-align:center;
}
#subFooterLeft form #subscribe_button{
	float:none;
	margin-left:0px;
}
#subFooterMiddle{
	padding-left:0px;
	padding-top:10px; 
	padding-bottom:10px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin:10px 0px;
}
#subFooterRight{
	padding-left:0px;
	text-align:center;
}
.signUpField,div.signUpField:hover{
	/*background:#f5f6e7;*/
}
.boxHeader{
	float:left;
	
}
.signUpField + .boxHeader{
	margin-top:15px;
}
.signUpFieldRight{
	padding-right:10px;
}
.signupFieldInput{
	width:100% !important;
}
.signUpFieldRight select{
	width:100%;
	border-radius:0px;
	border:1px solid #ddd;
}
.signUpRight img{
	margin-top:0px;
}
#container{
	width:inherit;
}
#footerMenu{
	text-align:center;
}
#footerMenu li{
	float:none !important;
	display:inline-block !important;
}
#footerMenu li a{
	margin-left:5px !important;
	margin-right:5px !important; 
}

#subFooterRight #footerListRight{
	width:100%;
}

#subFooterRight #footerListLeft{
	width:100%;
}
#signUpLeft{
	margin-top:0px;
}
#signUpRight{
	text-align:center;
}
.signupFieldInput{
	height:20px;
	border-radius:0px;
	border:1px solid #ddd;
}
#navigationBottom{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b1b1b1+0,a6a6a6+50,a6a6a6+53,949494+100 */
background: rgb(177,177,177); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(177,177,177,1) 0%, rgba(166,166,166,1) 50%, rgba(166,166,166,1) 53%, rgba(148,148,148,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(177,177,177,1) 0%,rgba(166,166,166,1) 50%,rgba(166,166,166,1) 53%,rgba(148,148,148,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(177,177,177,1) 0%,rgba(166,166,166,1) 50%,rgba(166,166,166,1) 53%,rgba(148,148,148,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1b1b1', endColorstr='#949494',GradientType=0 ); /* IE6-9 */

	border-radius:0px 0px 10px 10px;
	 padding: 5px 0;
}
.desktop-show{
	display:none;
}
.responsive-show{
	display:block;
}
#topBar{
	height:32px;
}
#mainContentFull{
	margin-bottom:0px;
}
#topBar ul li{
	padding-left:2px;
	padding-right:2px;
}
.signUpFieldLeft{
	border-right:none;
}
#hero{
	width:100%;
}
#hero img{
	max-width:100%;
}
#leftColumn{
	width:100%;
}
#mainContent,.box-products{
	width:100%;
}
.orderBox{
	width:100% !important;
	margin-right:0px;
}
.boxSub{
	text-align:center;
	height:inherit !important;
}
.testimonials ul{
	width:100%;
}
.testimonials ul li{
	width:100%;
	height:inherit;
	background-image:none;
	border-radius:10px;
	border:2px solid #ddd;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f9f9+40,f9f9f9+48,f1eff0+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 40%, rgba(249,249,249,1) 48%, rgba(241,239,240,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 40%,rgba(249,249,249,1) 48%,rgba(241,239,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 40%,rgba(249,249,249,1) 48%,rgba(241,239,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1eff0',GradientType=0 ); /* IE6-9 */

}
.slider dt{
	background-image:url(../images/sevenReasonsButton-mobiel.png);
	background-size:100%;
	height:38px;
	width:464px;
	display:inline-block;
}
.slider .open {
    background-image: url(../images/sevenReasonsButtonMinus-mobile.png);
	background-size:100%;
	width:464px;
}
 #slider,.slider{
	width:100%;
	text-align:center;
}
.slider span{
	width:100%;
	text-align:left;
	
}
ul.top-list li{
	padding-left:0px;
}
.boxsubtopimg{
	width:100%;
	text-align:center;
}
.boxSub2textouter{
	width:100%;
	text-align:center;
}
.boxSub2textouter ul{
	padding-left:0px;
}
.subleft{
	width:100%;
}
.subpage-nav h3{
	background-image:none;
	border-radius:10px 10px 0px 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43769d+0,3e6f94+45,3e6f94+48,3a6a8e+100 */
background: rgb(67,118,157); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(67,118,157,1) 0%, rgba(62,111,148,1) 45%, rgba(62,111,148,1) 48%, rgba(58,106,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(67,118,157,1) 0%,rgba(62,111,148,1) 45%,rgba(62,111,148,1) 48%,rgba(58,106,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(67,118,157,1) 0%,rgba(62,111,148,1) 45%,rgba(62,111,148,1) 48%,rgba(58,106,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43769d', endColorstr='#3a6a8e',GradientType=0 ); /* IE6-9 */

}
.clb{
	text-align:center;
}
.subright{
	width:100%;
	padding-right:0px;
	padding-bottom:0px;
}
.subright img{
	max-width:100%;
	height:inherit
}
.graydiv-imgnone img{
	display:none;
}
.subpage-nav{
	padding-bottom:15px;
}
h2{
	font-size:18px;
}
.need-fast{
	padding-top:10px;
}
.productsContainer-right{
	width:100%;
	text-align:center;
}
.productsContainer-Left{
	width:100%;
	text-align:center;
}
.contanctus-namebadesouter,.contactusaddress-imgouter{
	width:100%;
}
.contactusaddress-outer,.contactusmapouter,.contactusmapbuttomimg{
	width:100%;
}
.contactusmapouter{
	text-align:center;
}
.contactusaddress-first{
	width:100%;
}
.contactaddress-right{
	float:left;
}
ul.left-seeus,.left-h-t{
	display:none;
}
.desktopknone-mobiletext sup{
	font-size:14px;
}
.productsContainer-right p,ul.top-list li{
	text-align:justify;
}
.subright p,.what-bestme p{
	text-align:justify;
}
#navigationTop ul li a{
	padding:0px 10px;
}
.slider span{
	padding-top:0px;
}
.printed-name-badges-topimg,.printed-name-badges-fasterimg,.reusable-name-topimg,.photoid-badges-topimg,.photoid-attachmentimg{
	max-width:100%;
	height:inherit;
}
.printed-name-badges-content,.custom-lanyards-content{
	width:100%;
}
.printed-name-badges-left,.printed-name-badges-right{
	width:100%;
	padding:0px 10px;
}
.printed-name-badges-table-outer{
	width:100%;
	overflow:auto;
	border:1px solid #ddd;
	margin:20px 0px;
}
.printed-name-badges-bottomdiv{
	width:100%;
}
.printend-badges-maindiv p{
	text-align:justify;
}
.printed-name-badges-left p,.printed-name-badges-right p{
	text-align:center;
}
.reusable-topboxdiv{
	padding-left:10px;
	padding-right:10px;
}
.pin-cahtwith-text{
	text-align:center !important; 
}
.custom-lanyards-main img{
	max-width:100%;
	height:inherit;
}
#logoBox{
	width:100% !important;
}
#addNamesLeft{
	width:100%;
}
#addNamesRight{
	margin-top:10px;
	width:100%;
}
.order-table-outer{
	 border: 1px solid #dddddd;
    margin: 20px 0;
    overflow: auto;
    width: 100%;
}
.logrighttext{
	color: #e4e4e4;
    font-family: arial;
    font-size: 13px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.headergraybuttonouter{
	display:none;
}
#testimonialsContainer{
	width:100%;
}
.b-all-rightdiv{
	width:100%;
	margin-top:20px;
}
#testimonials{
	width:100%;
}
#testimonialsContainer2{
	width:100%;
	padding:20px;
	background-image:none;
}
#testimonialsTop,.testimonialsMain{
	width:100%;
}
.testQuote1{
	width:100%;
}
.testQuote2{
	width:100%;
}
.testimonialsMain{
	padding-left:10px;
	padding-right:10px;
	background-image:none;
	
}
#testimonialsTop{
	background-image:none;
	border-radius:10px 10px 0px 0px;
	
}
#testimonialsBottom{
	background-image:none;
	border-radius:0px 0px 10px 10px;
	
	width:100%;
}
#clients{
	width:100%;
	text-align:center;
}
#clients img{
	max-width:100%;
	height:inherit
}
.testP{
	text-align:justify
}
.tesimonials-leftbgouter{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7aa0bd+0,7aa0bd+35,7aa0bd+45,6c91ad+100 */
background: rgb(122,160,189); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(122,160,189,1) 0%, rgba(122,160,189,1) 35%, rgba(122,160,189,1) 45%, rgba(108,145,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,160,189,1) 0%,rgba(122,160,189,1) 35%,rgba(122,160,189,1) 45%,rgba(108,145,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,160,189,1) 0%,rgba(122,160,189,1) 35%,rgba(122,160,189,1) 45%,rgba(108,145,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aa0bd', endColorstr='#6c91ad',GradientType=0 ); /* IE6-9 */
  border-radius:10px ;
  margin-top:10px;
}
#testimonialsContainer{
	 border-radius:10px ;
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#497da5+0,497da5+41,497da5+56,19496e+100 */
background: rgb(73,125,165); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(73,125,165,1) 0%, rgba(73,125,165,1) 41%, rgba(73,125,165,1) 56%, rgba(25,73,110,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(73,125,165,1) 0%,rgba(73,125,165,1) 41%,rgba(73,125,165,1) 56%,rgba(25,73,110,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(73,125,165,1) 0%,rgba(73,125,165,1) 41%,rgba(73,125,165,1) 56%,rgba(25,73,110,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#497da5', endColorstr='#19496e',GradientType=0 ); /* IE6-9 */


}
#testimonialsContainer h3{
	text-align:center;
}
.b-all-rightdiv p{
	text-align:justify;
}
.header-activated-button{
	top:52px;
}
.need-fast{
	width:100% !important;
	margin-bottom:20px;
}
#testimonials{
	text-align:center;
}
.signUpFieldRight{
	height:inherit !important;
}
.customerpanel2-name-left{
	width:50% !important;
}
.customerpanel2-fullcolorouterdiv{
	padding-left:10px ;
	padding-right:10px;
	line-height:26px;
}
.customerpanel2-radiooutre{
	float:none;
	display:inline-block;
	padding-left:0px;
}
.customerpanel5-boxusb{
	width:100%;
}
.customerpanel5-boxusb #imageshow{
	width:100% !important;
}
.logo-input{
	border:none;
}
.magnetice-content p{
	text-align:justify;
}
.order2-designlabel,.order2-designlabel .signUpFieldLeft{
	height:inherit !important;
}
.order-complete-engraved-browse-outer{
	float: left;
    height: 30px !important;
    padding-right: 0;
    width: 100%;
}
.signUpFieldRight textarea{
	width:100% !important;
}
.order-engraved-orders-text{
	line-height:16px;
	float:left;
	padding-left:10px;
}
.signUpFieldLeft{
	height:inherit !important;
}
.payment-left-panel{
	width:100%;
}
.pricing-table-outer{
	width:100%;
	float:left;
	overflow:auto;
	border:1px solid #ddd;
	margin-bottom:15px;
}
.purchase-table-outer{
	width:100%;
	float:left;
	overflow:auto;
	border:1px solid #ddd;
	margin-bottom:15px;
}
.purchase-border{
	width:100%;
}
.purcahse-yourorder-third,.purcahse-yourorder-first,.purcahse-yourorder-second,.purcahse-yourorder-fourth{
	width:100%;
}
.signup2-image-left,.signup2-image-right{
	width:50%;
	text-align:center;
}
#signUpRight .signup2-image-left img{
	margin-top:40px !important;
}
#wizardRight{
	width:100%;
}
.slider3, .slider3 span{
	width:100%;
}
#slider3{
	width:100%;
}
.slider3 dt{
	width:100%;
}
.boxSub2{
	width:100%;
}
#imageshow{
	width:100% !important;
	text-align:center;
}
#imageshow img{
	max-width: 100%;
	height:inherit;
	width:auto;
}
.wizard-tableouter{
	height:inherit;
}
.wizard2-topdiv{
	width:100%;
}
.wizard-next-left,.wizard-next-right{
	width:100%;
}
.wizard-next-bottom{
	width:100%;
	padding-left:0px;
}
.wizard-next-right img{
	max-width:100%;
}
.wizardfb-likebox{
	width:100%;
}
.wizard-next-left p,.wizard-next-left li{
	text-align:justify;
}
.wizard-next-right{
	text-align:center;
}
.wizard2-topdiv{
	text-align:justify;
}
.add-names-step-outer{
	margin: 0 auto;
    text-align: center;
    width: 242px;
}
.add-names-justsimple-text{
	width:100%;
	text-align:center;
}
.add-names-justsimple-text h3{
	display:inline-block;
	float:none !important;
}
.step{
	width:242px;
	height:51px;
	padding-left:0px;
	float:none;
	display:inline-block;
	margin-left:0px !important;
}
.addnames-leftimg-div{
	width:100%;
	padding-left:0px;
}
.addnames-rightimg-div{
	width:100%;
}
.addnames-leftimg-textdiv,.addnames-leftimg-imgouter,.addnames-rightimg-imgouter{
	width:100%;
	text-align:center;
}
.add-names-smallinputouter,.add-names-prepay-inputouter,.add-names-total-inputouter,.add-names-totaltext{
	width:100%;
}
.add-names-smallinput-label,.add-names-smallinput-right,.add-names-prepay-label,.add-names-prepay-right{
	width:100%;
}
.add-names-smallinputouter,.add-names-prepay-inputouter,.add-names-total-inputouter{
	height:inherit;
}
.add-names-prepay-right,.add-names-smallinput-right{
	padding:0px 5px;
}
.add-names-prepay-label,.add-names-smallinput-label{
	padding:0px 5px;
	border-right:none;
}
.add-names-total-right{
	padding:0px 5px;
	width:100%;
}
.add-names-total-right > div ,.add-names-total-right .popBoxSmall{
	padding-left:0px !important;
}
.checkout-leftdiv{
	width:100%;
}
#link_edit{
	width:100% !important;
	text-align:center;
	padding-top:20px !important;
}
.checkout-rightdiv{
	width:100%;
	margin-top:15px;
}
.checkout-rightdiv #wizardRight{
	width:100% !important;
}
.checkout-yourorder-left{
	width:100%;
}
.checkout-yourorder-right{
	width:100%;
	border-left:none;
}
.checkout-totlaouter-left,.checkout-yourorder-left-label,.checkout-yourorder-right-label{
	width:50%;
	text-align:left;
}
.checkout-buttomdiv,.checkout-totlaouter{
	width:100%;
}
.checkout-yourorder-left-input,.checkout-totlaouter-right,.checkout-yourorder-right-input{
	float:left;
	width:50%;
}
.wizard-newcontent{
	width:100% !important;
}
.wizardnew-topleft,.wizardnewbades-style{
	width:100%;
}
.wizardnew-addtext1{
	height:inherit
}
.wizard-butoomform{
	padding-left:0px;
	margin-top:30px;
}
.wizard-droppableouter{
	padding-left:0px;
}
#droppable{
	width:100% !important;
	height:inherit !important;
}
.wizardnew-colordiv{
	padding-right:0px;
	float:left;
}
.wizardnew-numberselect{
	margin:0px 10px ;
}
.wizardnew-selectdiv{
	width:40%;
}
}
@media only screen and (max-width : 480px){
	.slider dt{
	background-image:url(../images/sevenReasonsButton-mobiel.png);
	background-size:100%;
	height:35px;
	width:100%;
	display:inline-block;
}
.slider .open {
    background-image: url(../images/sevenReasonsButtonMinus-mobile.png);
	background-size:100%;
	width:100%;
}
.header-activated-button{
	width:auto !important;
	top:37px;
}
.header-activated-button img{
	width:130px;
	height:inherit;
}
.wizardnew-selectdiv{
	width:150px;
}
}
@media only screen and (max-width : 479px) {
 #footerMenu li a{
	 margin-left:2px !important;
	 margin-right:1px !important;
}
.contactaddress-right{
	width:175px;
}
.desktopknone-mobiletext sub{
	font-size:13px;
}
.desktopknone-mobiletext sup{
	font-size:12px;
}
.contanctus-namebadesouter img{
	width:49%;
	display:inline-block;
}
.headergraybuttonouter{
	margin-left:2px;
	
	float:left;
}
#navigationBottomLeft{
	width:50%;
	padding: 6px 0 0 6px;
}
.print_order_submit img,.photo_order_submit img,.pinclikhear-button-outer img,.engraved_order_submit img,.reusable_name_submit img,.desk-wall-name-plates img{
	width:200px;
	height:inherit; 
}
.pin-cahtwith-text{
	text-align:center !important; 
	font-size:16px;
}
#navigationBottomRight {
    width: 50% !important;
	text-align:left;
}
.logrighttext{
	color: #e4e4e4;
    font-family: arial;
    font-size: 13px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#testimonialsContainer h3{
	font-size:16px;
}
.header-activated-button{
	width:auto !important;
	top:15px;
}
.header-activated-button img{
	width:100px;
	height:inherit;
}
.customerpanel2-radiooutre{
	width:100%;
	padding-left:0px;
}
.customerpanel5-color{
	width:58px !important;
}
h2{
	font-size:16px;
}

.popBoxSmall input{
	width:47%;
}
.signup2-image-left,.signup2-image-right{
	width:100%;
	text-align:center;
}
#signUpRight .signup2-image-left img{
	margin-top:0px !important;
}
.wizard-leftphotodiv,.wizard-rightlogodiv{
  width:100%;
}
.wizardText{
	width:100%;
}

.wizard-textboxouter{
	width:50%;
}
.wizardbalnk-left{
	float: left; width: 100%; padding-left: 15px;
}
.wizardbalnk-right{
	float: right; width:100%;padding-left: 15px;
	padding-top:20px;
}
.wizardbalnk-right p,.wizardbalnk-left p{
	margin:0px;
}
.wizard-nexttoptext{
	font-size:18px;
}
.wizard-inputouter{
	margin-left:5px;
}
.wizard2-topdiv{
	padding-top:100px;
	padding-left:0px ;
	padding-right:0px;
	background-position:center 20px;
	text-align:justify;
}
.wizardnew-logoouter,.wizardnew-logoouter-right{
	width:100%;
}
#badgestyle > p{
	width:140px !important;
}
.wizardnew-addtextbox,.wizardnew-addbutton,.wizardnew-selectdiv{
	width:100%;
	padding:0px 10px;
	margin:0px;
}
.wizardnew-addtextbox input{
	margin-left:0px !important;
	width:100% !important;
	margin-top:5px;
	margin-bottom:5px;
}
.wizardnew-numberselect{
	margin-left:10px;
	margin-right:10px;
}
.wizardnew-colordiv{
	float:left;
	padding-right:0px;
}
}
@media only screen and (max-width : 359px){
.desktopknone-mobiletext{
	font-size:8px;
}
#colorname p{
	width:58px !important;
}
.wizardblankcolordiv {
	width:58px !important;
}
.wizard-inputouter{
	margin-left:2px;
	text-align:left;
	height:inherit;
	line-height:normal;
}
.desktopknone-mobiletext sub {
	font-size:12px;
}
}

